<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Link to your custom CSS -->
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div class="w-full h-full bg-zinc-800 p-10 text-white">
        <a class="mt-10 text-blue-500" href="/">Back to home</a>
        <h1 class="text-3xl tracking-tighter mb-3">Users</h1>
        <div class="Users flex gap-3 flex-wrap">

            <% if (users.length>0) { %>
            <% users.forEach(function(allUsers) { %>
                <div class="User w-72 p-4 bg-zinc-600 rounded-lg">
                    <div class="w-full h-52 rounded-lg bg-blue-500 overflow-hidden">
                        <img class="w-full h-72 object-cover" src="<%= allUsers.image%>" alt="">
                    </div>
                    <h3 class="text-xl mt-3"><%= allUsers.name %></h3>
                    <h5 class="text-zinc-500"><%= allUsers.email %></h5>
                    <a class="text-red-200" href="/edit/<%= allUsers._id %>">Edit User</a>
                    <a class="text-red-200" href="/delete/<%= allUsers._id %>">Delete User</a>
                </div>
            <% }) %>
            <% } else { %>
<h3 class="text-zinc-500">No users Yet</h3>
                <% }; %>
        </div>  

    </div>
</body>
</html>
